@font-face { font-family: "Monofur"; src: url("Monofur.ttf") format("truetype"); font-style: normal; font-weight: normal; }
@font-face { font-family: "Whipsmart"; src: url("Whipsmart.ttf") format("truetype"); font-style: normal; font-weight: normal; }
@font-face { font-family: "Marta"; src: url("Marta.ttf") format("truetype"); font-style: normal; font-weight: normal; }
@font-face { font-family: "MonAmourOne"; src: url("MonAmourOne.ttf") format("truetype"); font-style: normal; font-weight: normal; }
@font-face { font-family: "UKIJQolyazma"; src: url("UKIJQolyazma.ttf") format("truetype"); font-style: normal; font-weight: normal; }
@font-face { font-family: "Avatar"; src: url("Avatar.ttf") format("truetype"); font-style: normal; font-weight: normal; }
@font-face { font-family: "Pompadur"; src: url("Pompadur.ttf") format("truetype"); font-style: normal; font-weight: normal; }

* { margin: 0; padding: 0; 
box-sizing: border-box;
overflow: hidden;
}
body { min-height: 100vh; }
#particles-js{ width: 120%;
height:100vh; 
position: absolute; 
z-index: -3;
background-color: rgb(1, 43, 41);
}    
#zapoln{ color: rgb(193, 247, 170); font-family: "Monofur"; }
p{font-size: 26px;
text-indent: 1.5rem;    
}
.container-fluid{ display: block;
padding-top: .3rem;
}
.container-fluid .main-video{ 
display: none;
}
.container-fluid .main-video video{
width: 100%;
}    
.container-fluid .video-list .vid video{
margin-right: 3px;
border: 1px dashed #b90d0d;
border-radius: 15px;
width: 90px;
height: 60px;
}
.container-fluid .video-list .vid:hover{
color: #eee; cursor: pointer;
}
.container-fluid .video-list .vid:active{
color: #2980b9;
}
a{text-decoration: none;}
.mal { margin-top: -.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    width: 40px;
}
.mal:hover { box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);}

.btn{color: white; margin-bottom: 10px;}
.btn:hover{color: greenyellow;}
.hide{display: none;}

.mx-auto{ font-family: "Pompadur";
position: absolute; 
bottom: 0;
align-items: center;
justify-content: center;
align-self: stretch;
}
.barents{
color: #a1d3f7;
font-size: 28px;
}
#myNav1{
font-family: "Marta";
}
#myNav2{
font-family: "UKIJQolyazma";
}

*{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
